* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
:root {
    --bg-colour: #1c1e22;
    --bg-canvas: #21262e;
    --bg-button: #383f4d6a;
    --outline-button: #576685;
}

body {
    background: var(--bg-colour);
    touch-action: none;
}

#canvas {
    border: 3px solid var(--bg-canvas);
    z-index: 30000;
    touch-action: none;
    background-color: #21262e;
}
  
.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row-reverse;
}

.gui {
    padding: 1.5vh;
    display: flex;
    flex-direction: column;
    gap: 1.5vh; 
    font-size: 20px;
    color: #fff;
    height: 100vh;
    width: inherit;
}

button {
    padding: 10px;
    font-weight: 900;
    font-size: 1.5vh;
    background: var(--bg-button);
    color: #fff;
    border: 1px var(--outline-button) solid;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.selector > input[type=checkbox] {
    height: 20px;
    width: 20px;
    margin: 1.5vh;
}